<a href="https://colab.research.google.com/github/jmabe01/machine-learning/blob/main/Jordyn_Mabe_801186783_Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split

In [ ]:
df =pd.read_csv('Housing.csv')
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [ ]:
housing = pd.DataFrame(pd.read_csv('Housing.csv'))
m = len(housing)
varlist = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']
def binary_map(x):
  return x.map({'yes': 1, 'no': 0})
housing[varlist] = housing[varlist].apply(binary_map)
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished

In [ ]:
#assign columns for all variables for the data sheet
price = df.values[:, 0]  
area = df.values[:, 1]  
bedrooms = df.values[:, 2]  
bathrooms = df.values[:, 3]
stories = df.values[:, 4]  
mainroad = df.values[:, 5]  
guestroom = df.values[:, 6]  
basement = df.values[:, 7]
hotwater = df.values[:, 8]
aircondition = df.values[:, 9]  
parking = df.values[:, 10]  
prefarea = df.values[:, 11]  
furnishing = df.values[:, 12]
m = len(price)
m

545

In [ ]:
def compute_cost(X, Y, theta): 
  
  predictions = X.dot(theta) 
  errors = np.subtract(predictions, Y) 
  sqrErrors = np.square(errors) 
  J = 1 / (2 * m) * np.sum(sqrErrors) 
 
  return J

In [ ]:
def gradient_descent(X, Y, theta, alpha, iterations): 
  
  cost_history = np.zeros(iterations) 
 
  for i in range(iterations): 
    predictions = X.dot(theta) 
    errors = np.subtract(predictions, Y) 
    sum_delta = (alpha / m) * X.transpose().dot(errors); 
    theta = theta - sum_delta; 
    cost_history[i] = compute_cost(X, Y, theta)   
 
  return theta, cost_history

Problem 1

 1a: area, bedrooms, bathrooms, bathrooms, stories, parking

In [ ]:
X0 = np.ones((m, 1)) 
Area = area.reshape(m, 1)  
Bed = bedrooms.reshape(m, 1) 
Bath = bathrooms.reshape(m, 1) 
Stories = stories.reshape(m, 1) 
Parking = parking.reshape(m, 1) 
theta = np.zeros((m,2))
thetaNew = np.ones 
X.shape, Y.shape, theta.shape

((545, 3), (545, 3), (545, 2))

In [ ]:
X = housing.iloc[:,[1,2,3]].values
Y = housing.iloc[:,[4,5,6]].values
cost = compute_cost(X, Y, theta)

ValueError: ignored

In [ ]:
plt.scatter(X[:,1], Y, color='red', marker= '+', label= 'Training Data') 
plt.plot(X[:,1],X.dot(theta), color='blue', label='Linear Regression') 
 
plt.rcParams["figure.figsize"] = (10,6) 
plt.grid() 
plt.xlabel('X1') 
plt.ylabel('Y') 
plt.title('X1 vs Y') 
plt.legend()

In [ ]:
plt.plot(range(1, iterations + 1),cost_history, color='red') 
plt.rcParams["figure.figsize"] = (10,6) 
plt.grid() 
plt.xlabel('Number of iterations') 
plt.ylabel('Cost (J)') 
plt.title('Convergence of gradient descent')

1b: area, bedrooms, bathrooms, stories, mainroad, guestroom, basement, hotwaterheating, airconditioning, parking, prefarea

In [ ]:
X0 = np.ones((m, 1)) 
Area = area.reshape(m, 1)  
Bed = bedrooms.reshape(m, 1) 
Bath = bathrooms.reshape(m, 1) 
Stories = stories.reshape(m, 1) 
Parking = parking.reshape(m, 1) 
theta = np.zeros((m,2))
thetaNew = np.ones 
X.shape, Y.shape, theta.shape

In [ ]:
cost = compute_cost(X, Y, theta)

In [ ]:
plt.scatter(X[:,1], Y, color='red', marker= '+', label= 'Training Data') 
plt.plot(X[:,1],X.dot(theta), color='blue', label='Linear Regression') 
 
plt.rcParams["figure.figsize"] = (10,6) 
plt.grid() 
plt.xlabel('X1') 
plt.ylabel('Y') 
plt.title('X1 vs Y') 
plt.legend()

In [ ]:
plt.plot(range(1, iterations + 1),cost_history, color='red') 
plt.rcParams["figure.figsize"] = (10,6) 
plt.grid() 
plt.xlabel('Number of iterations') 
plt.ylabel('Cost (J)') 
plt.title('Convergence of gradient descent')

Problem 2

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
scaler = MinMaxScaler()
df_Newtrain[num_vars] = scaler.fit_transform(df_Newtrain[num_vars])